.inicioLink {
  align-self: start;
  padding: 1rem;
  margin-left: 2rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.iconLeftArrow {
  margin-right: 1rem;
  font-weight: bold;
}

.general-container {
  position: relative;
  z-index: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.snackbar-wrapp {
  position: absolute;
  top: -1rem;
  z-index: 200;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 1rem;
  border: 3px white solid;
  border-radius: 1rem;
  box-shadow: 2px 2px 15px 0px #32cd32;
  font-size: 1.3rem;
}

.snackbar-text {
  display: flex;
  align-items: center;
}

.check-icon {
  color: #32cd32;
  font-size: 2rem;
  margin-right: 2rem;
}
.soft-text {
  color: #cccccc;
}

.input-wrapp {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.inputStyled {
  margin-top: 5px;
  font-size: 1.2rem;
  padding: 1rem;
  width: 30%;
}

.buttonStyled {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-left: 2rem;
  padding: 1rem;
  width: 10%;
}

.dataTableStyled {
  width: 50%;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.deleteIcon {
  font-size: 1.5rem;
  color: #e74c3c;
}
